/* line 1, /home/philco/aftermath/news/app/assets/stylesheets/home.scss */
.signup1 {
  color: green;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: green;
  font-family: sans-serif;
}

/* line 8, /home/philco/aftermath/news/app/assets/stylesheets/home.scss */
#log1 {
  column-width: 100%;
  margin-bottom: 5em;
}

/* line 12, /home/philco/aftermath/news/app/assets/stylesheets/home.scss */
.container {
  text-align: center;
}

/* line 17, /home/philco/aftermath/news/app/assets/stylesheets/home.scss */
.main {
  text-align: center;
  margin-top: 5em;
  margin-left: 45px;
  margin-right: 45px;
  border: 15px, 15px;
}

/* line 26, /home/philco/aftermath/news/app/assets/stylesheets/home.scss */
.footer {
  text-align: center;
  margin-top: 5em;
  padding-bottom: 25px;
}

/* line 31, /home/philco/aftermath/news/app/assets/stylesheets/home.scss */
.main .field {
  font-size: 2em;
  color: green;
  font-family: impact;
}
.title{
	margin-top: -5px;
	background-image: url(back1.jpg);
	padding-top: 10px;	
}
.title h1{
	text-align: center;
	padding-bottom: 25px;
	padding-top: -20px;

}
h1{
	text-align: center;

}
h3{
	color: orange;
}
.title{
	margin-top: -5px;
	background-image: url(back1.jpg);
	padding-top: 10px;	
}
.title h1{
	text-align: center;
	padding-bottom: 25px;
	padding-top: -20px;

}
h1{
	text-align: center;

}
h3{
	color: orange;
}
.subtitle{
	text-align: center;
	font-size: 1.5em;
}
.marticle{
	margin-top: 35px;
	text-align: center;
}
.marticle{
	font-size: 20px;

}


.wrp2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

