<div id="event">

<h3>Create an Event</h3>
<h5>Share your thought</h5>
<p>Plan something,you would like to do, with the people of to Lord. <br> Let's His name be glorify.</p>
<%= link_to 'New Event', new_event_path %>
</div>
<%= link_to 'See Create Event', events_path %>