<div class="fun">

	<h1 style="text-align:center;
	color:orange;">
	LET'S HAVE SOME FUN!!
</h1>
<aside>
	<h3>Life </h3>

</aside>
<div class="container">
	<hr>
	<div class="row">
		<div class="col m3.5">
			<%= image_tag("orlando1.jpg", :width => 350, :height => 450,)  %>

		</div>

		<div class="col s6">
			<p>NOVEMBER 4, 2016
				GOD'S WORD MISSION SOCIETY RELEASES "ENCOURAGEMENT FOR LAW ENFORCEMENT"
				byRev. Michael Hackbardt
				In the aftermath of the police shootings and law enforcement targeting, God's Word to the Nations Mission Society felt that we should produce a specific booklet entitled ENCOURAGEMENT FOR LAW ENFORCEMENT that would be for Law Enforcement Officers at every level... a booklet that would provide them with comfort, peace, and confidence in the course of their dangerous work to protect and serve in these tenuous times.<br>NOVEMBER 4, 2016
GOD'S WORD MISSION SOCIETY RELEASES "ENCOURAGEMENT FOR LAW ENFORCEMENT"
byRev. Michael Hackbardt
In the aftermath of the police shootings and law enforcement targeting, God's Word to the Nations Mission Society felt that we should produce a specific booklet entitled ENCOURAGEMENT FOR LAW ENFORCEMENT that would be for Law Enforcement Officers at every level... a booklet that would provide them with comfort, peace, and confidence in the course of their dangerous work to protect and serve in these tenuous times.</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col s9">
				<h4 style="color:orange">Just you </h4>
				
					<%= image_tag ("bible.jpg") %>
					<h6>The Holy Word</h6>
					<p>The Glory of God
Our first major goal is the glory of God. Our greatest concern is that His Name be great among the nations, from the rising to the setting of the sun (Malachi 1:11), and that the Lamb who was slain might receive the full reward for His sufferings (Revelation 7:9-10). We find our great purpose and motivation not in man or his needs, but in God, His commitment to His own glory, and our God-given desire to see Him worshipped in every nation, tribe, people, and language. We find our great confidence not in the Church’s ability to fulfill the Great Commission, but in God’s unlimited and unhindered power to accomplish all He has decreed. </p>
					</div>
					</div>
					<div class="row">
		<div class="col m3.5" style="margin-top:2em;">
					<%= image_tag("outactive.jpg", :width => 300, :height => 450,)  %>
					</div>

		<div class="col s7" style="margin-top:55px;">
				
				<p>Let your light so shine before men, that they may see your good works, and glorify your Father which is in heaven.
				Whosoever therefore shall break one of these least commandments, and shall teach men so, he shall be called the least in the kingdom of heaven: but whosoever shall do and teach them, the same shall be called great in the kingdom of heaven.<br>Blessed are they which do hunger and thirst after righteousness: for they shall be filled.Ye are the salt of the earth: but if the salt have lost his savour, wherewith shall it be salted? it is thenceforth good for nothing, but to be cast out, and to be trodden under foot of men.</p>


			</div>
		</div>
	</div>




