
<div class="container">
<h3 style="text-align:center;">Need A Prayer</h3> <p style="font-size:18px; text-align:center;"> Fill this form</p> 
<form action="https://formspree.io/phil9231@gmail.com"
          method="POST">
            <div class="row">
              <div class="small-12 medium-6 columns">
                <label>Your name</label>
                  <input type="text" placeholder=""/>
              </div>

              <div class="small-12 medium-6 columns">
                <label>Your email</label>
                  <input type="text" placeholder=""/>
              </div>

              
            </div>

            <div class="row">
              <div class="small-12 columns">
                <label>Your message</label>
                  <textarea placeholder=""></textarea>
              </div>
            </div>
            <input type="submit" value="Send">
            

          </form>
          <h5> I say unto you, Love your enemies, bless them that curse you, do good to them that hate you, and pray for them which despitefully use you, and persecute you;</h5>

          <%= image_tag ("bible.jpg") %>
          <p>But I say unto you, Love your enemies, bless them that curse you, do good to them that hate you, and pray for them which despitefully use you, and persecute you;</p>

          
          </div>