

<div class="satcourage">


	<div class="row">
		<div id="courage">
			<div class="col s5 ">
				<div class="card-panel teal">
					<span class="white-text">read about saturday service.relive the service in here, catch everything you miss.
					</span>
				</div>

			</div>
			<div class="row">
				<div class="col s8 m2">
					<div class="card-panel teal">
						<span class="white-text">The Word of God is sharper than anything.
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col s5">
						<div class="card-panel teal">
							<span class="white-text">Even through the darkness,when don't see a way just have faith. 
							</span>
						</div>
					</div>
				</div>


			</div>

		</div>

	</div>
</div>

<h1 style="text-align:center;">Saturday Services</h1>
<div class="satmessa">
	<div class="container">
		<div class="satms" style="font-size:18px;">

			<p>
				After his conversion, Paul went to Damascus, where Acts 9 states he was healed of his blindness and baptized by Ananias of Damascus.[44] Paul says that it was in Damascus that he barely escaped death.[2 Cor. 11:32] Paul also says that he then went first to Arabia, and then came back to Damascus.[Gal. 1:17][45] Paul's trip to Arabia is not mentioned anywhere else in the Bible, and some suppose he actually traveled to Mount Sinai for meditations in the desert.[46][47] He describes in Galatians how three years after his conversion he went to Jerusalem. There he met James and stayed with Simon Peter for 15 days.[Gal. 1:13-24] Paul located Mount Sinai in Arabia in Galatians 4:24-25.

				Paul asserted that he received the Gospel not from man, but directly by "the revelation of Jesus Christ".[Gal 1:11-16] He claimed almost total independence from the Jerusalem community,[3]:pp.316–320 (possibly in the Cenacle), but agreed with it on the nature and content of the gospel.[Gal 1:22-24] He appeared eager to bring material support to Jerusalem from the various growing Gentile churches that he started. In his writings, Paul used the persecutions he endured to avow proximity and union with Jesus and as a validation of his teaching.

				Paul's narrative in Galatians states that 14 years after his conversion he went again to Jerusalem.[Gal. 2:1-10] It is not known what happened during this time, but both Acts and Galatians provide some details.[48] At the end of this time, Barnabas went to find Paul and brought him back to Antioch. [Acts 11:26]

				When a famine occurred in Judea, around 45–46,[49] Paul and Barnabas journeyed to Jerusalem to deliver financial support from the Antioch community.[50] According to Acts, Antioch had become an alternative center for Christians following the dispersion of the believers after the death of Stephen. It was in Antioch that the followers of Jesus were first called "Christians".
			</p>
			<h6>The Holy Word</h6>
			<p>The Glory of God
				Our first major goal is the glory of God. Our greatest concern is that His Name be great among the nations, from the rising to the setting of the sun (Malachi 1:11), and that the Lamb who was slain might receive the full reward for His sufferings (Revelation 7:9-10). We find our great purpose and motivation not in man or his needs, but in God, His commitment to His own glory, and our God-given desire to see Him worshipped in every nation, tribe, people, and language. We find our great confidence not in the Church’s ability to fulfill the Great Commission, but in God’s unlimited and unhindered power to accomplish all He has decreed. </p>
				<p>
					Paul asserted that he received the Gospel not from man, but directly by "the revelation of Jesus Christ".[Gal 1:11-16] He claimed almost total independence from the Jerusalem community,[3]:pp.316–320 (possibly in the Cenacle), but agreed with it on the nature and content of the gospel.[Gal 1:22-24] He appeared eager to bring material support to Jerusalem from the various growing Gentile churches that he started. In his writings, Paul used the persecutions he endured to avow proximity and union with Jesus and as a validation of his teaching.

				Paul's narrative in Galatians states that 14 years after his conversion he went again to Jerusalem.[Gal. 2:1-10] It is not known what happened during this time, but both Acts and Galatians provide some details.[48] At the end of this time, Barnabas went to find Paul and brought him back to Antioch. [Acts 11:26]

				</p>
			</div>
		</div>
	</div>
	