
#log{

	text-align: center;
	background-image: url(seechurch.jpg); 
 background-position: center center;
 margin-top: -2em;
 font-family: impact;


}

.postpg{
	background-image: url(waydark.jpg); 
 background-position: center center;

}
#log h1{
	padding-top: 2em;
	padding-bottom: 1em;
}
#img1{
	padding-bottom: 8em;

}
#sinin{
	opacity: .4	;
	 padding-top: 85px;

	   background: black;
    filter: alpha(opacity=40);
}
#sinin:hover {
	 opacity: 1.0;
    filter: alpha(opacity=100);
}
.main{
	text-align: center;
	
}
.footer{
	text-align: center;	
	margin-top: 5em;
	padding-bottom: 25px;
}
.main .field{
	font-size: 2em;
	color: green;
	font-family: impact;
}
.video{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.sharelink{
	font-size: 25px;
	font-family: impact;
	text-align: center;
	margin-bottom: 5em;
}
#forget{
	margin-top: 15px;
}


/*intor css */

.intro{
	text-align: center;
	font-size: 20px;

}
.intro p{
	color: white;
	background:black;
	opacity: 0.6;
}



.back{
	margin-top: 8em;
	bottom: 2px;
	font-size: 35px;
	font-family: impact;
}
.back :hover{
	color: green;

}
.waves-effect{
	color: white;
	margin-top: 15px;

}
.waves-effect :hover{
	color:white;
}

.title{
	padding-left:25px; 
	padding-right:35px; 
	border:solid 2px;
	color: orange;
	background: gray;
	font-size: 28px;
	font-family: impact;

}

.content{
	border: solid 10px;
	padding-left: 15px;
	margin-left: 10px;
	color: white;
	
}


/*cards css */
.card-title{
	background:#009688;
	opacity: 0.8;
}


.card-content p{
	font-size: 18px;
}

#encourag{
	text-align: center;
	font-family: inherit;
	padding-top:2em;
	text-transform: capitalize;
	color: #64dd17;
}