.signup1{
	color: green;
	padding-top: 15px;
	padding-bottom: 15px;
	text-decoration: green;
	font-family: sans-serif;
}
#log1{
	column-width: 100%;
	margin-bottom: 5em;
}
.container{
	margin-top: 2em;
	text-align: center;
	
}
.main{
	text-align: center;
	margin-top: 5em;

	border: 15px, 15px;
}
.footer{
	text-align: center;	
	margin-top: 5em;
	padding-bottom: 25px;
}