#keyms{
  font-size:20px;
}
#event{
	width: 600px;
	margin-left: 90px;
	margin-top: 50px;
	max-width: 800px;
	border:  5px, 0, 5px,0 solid;


}
#sujevent{

}
.satcourage{
	margin-top: 3em;
}
.responsive-video {
max-width: 100%;  
height: auto;  
}