#keyms{
  font-size:20px;
}
#event{
	width: 600px;
	margin-left: 90px;
	margin-top: 50px;
	max-width: 800px;
	border:  5px, 0, 5px,0 solid;


}
#sujevent{

}
.satcourage{
	background-image: url(back3.jpg); 
 background-position: center center
 margin-top-5em;	
}
#courage{
	margin-top: -4em;
	padding-top: 7em;
}
.responsive-video {
max-width: 100%;  
height: auto;  
}

.out {
	margin-top: 5em;
	text-indent: 15px;
}
#fot{
	padding-left: 25px;
	padding-right: 25px;
}


video {  
   width:50%; 
   max-width:500px; 
   height:auto; 
}


